* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.settings-container {
  /* background-color: rgb(37, 37, 37); */
  color: #fff;
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.item-settings {
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.item2-row {
  width: 50%;
  display: flex;
}
.border-rad {
  background-color: #fff;
  border-radius: 20px;
}
.border-but {
  background-color: #5784ba;
  text-align: center;
  padding: 0;
  color: #fff;
  outline: none;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 5px;
}
.border-inp {
  background-color: #e6e6e6;
  border-radius: 20px;
  color: #5784ba;
  text-align: center;
  outline: none;
}
